* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
html {
  overflow-x: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
